<app-navbar></app-navbar>
<div>
  <div class="m-5">
    <h1>Listado de Pokemons</h1>
    <hr>

    <div class="table-responsive">
      <table class="table mt-3 fadeIn faster">
        <thead class="table-dark">
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Habilidad</th>
            <th scope="col">Velocidad</th>
            <th scope="col">Peso</th>
            <th scope="col">Altura</th>
            <th scope="col">Descripcion</th>
            <!-- <th scope="col">Email</th> -->
            <th scope="col">Herramientas</th>
          </tr>
        </thead>
        <tbody text-align="center">
          <tr *ngFor="let pokemon of pokemonsList; let i = index">
            <!-- <th scope="row">{{i + 1}}</th> -->
            <!-- <td>{{ pokemon?.img }}</td> -->
            <td>
              <img class="img-pokemon" src = "{{pokemon?.img}}" alt="{{pokemon?.name}}">
            </td>
            <td>{{ pokemon?.name }}</td>
            <td>{{ pokemon?.type }}</td>
            <td>{{ pokemon?.ability }}</td>
            <td>{{ pokemon?.speed }}</td>
            <td>{{ pokemon?.weight }}</td>
            <td>{{ pokemon?.height }}</td>
            <td>{{ pokemon?.description }}</td>
            <!-- <td>{{ pokemon?.email }}</td> -->
            <td>
              <app-pokemon-row [pokemon]="pokemon"  (showEmmiter)="showPokemonDetail($event)" (deleteEmmiter)="deletePokemon($event)">
              </app-pokemon-row>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>