<app-navbar></app-navbar>
<!-- <div class="m-5">
  <h1><small>Datos sobre el pokemon</small></h1>
  <hr />
  <div class="d-grid gap-2 d-md-block">
    <button (click)="goUserList()" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>Regresar
    </button>
  </div>
  <div class="modal-dialog login animated fadeInLeft">
    <div class="main-section">
      <div class="border-0 modal-content">
        <form [formGroup]="formGroup" (ngSubmit)="updateUser()">
          <img class="pokemonId" src = "{{user?.img}}" alt="{{user?.name}}">
          <app-input *ngIf="nameInputModel" [inputModel]="nameInputModel" class="row" ngDefaultControl></app-input>
          <app-input *ngIf="typeInputModel" [inputModel]="typeInputModel" class="row" ngDefaultControl></app-input>
          <app-input *ngIf="abilityInputModel" [inputModel]="abilityInputModel" class="row" ngDefaultControl></app-input>
        <app-input *ngIf="speedInputModel" [inputModel]="speedInputModel" class="row" ngDefaultControl></app-input>
        <app-input *ngIf="weightInputModel" [inputModel]="weightInputModel" class="row" ngDefaultControl></app-input>
        <app-input *ngIf="heightInputModel" [inputModel]="heightInputModel" class="row" ngDefaultControl></app-input>
        <app-input *ngIf="descriptionInputModel" [inputModel]="descriptionInputModel" class="row" ngDefaultControl></app-input>
        <app-input *ngIf="imgInputModel" [inputModel]="imgInputModel" class="row" ngDefaultControl></app-input>
          <app-button text="{{ 'button.update_user' | translate }}" [form]="formGroup" type="submit" class="row">
          </app-button>
        </form>
      </div>
    </div>
  </div>
</div> -->
<br>
<div class="m-5">
<h1 class="animated fadeIn info">{{pokemon?.name | uppercase}} (<small>{{pokemon?.type}}</small>)</h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img class="img-fluid" src="{{pokemon?.img}}" alt="{{pokemon?.name}}">
    <br><br>
    
  </div>

  <div class="col-md-8 data">
    <h3>Nombre: <small>{{pokemon?.name}}</small></h3>
    
    <hr>
    <h3>Tipo:
    <small>
      {{pokemon?.type}}
    </small></h3>
    <h3>Habilidad: <small>{{pokemon?.ability}}</small>
    
  </h3>
  <h3>Velocidad:
    <small>
      {{pokemon?.speed}}
    </small>
  </h3>
  <h3>Peso: 
    <small>
      {{pokemon?.weight}}
    </small>
  </h3>
  <h3>Altura:
    <small>
      {{pokemon?.height}}
    </small>
  </h3>
  <h3>Descripción: 
    <small>
      {{pokemon?.description}}
    </small>
  </h3>
  </div>
  <div class="m-5 link">
  <a (click)="goPokemonList()" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
</div>
</div>